header {
  background-color: $color-principal;
  padding: 1rem;
  text-align: center;
  color: $color-texto;

  h1 {
    margin: 0;
    @include animacion-fade(1.5s);
  }

  nav {
    margin-top: 1rem;

    ul {
      display: flex;
      justify-content: center;
      gap: 1rem;
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        background-color: $color-secundario;
        color: $color-texto;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.2s ease;
        text-decoration: none;

        &:hover {
          background-color: darken($color-secundario, 10%);
          transform: scale(1.05);
        }
      }
    }
  }
}
